body {
	background-image: url("http://static.tumblr.com/5uvtpxx/99Ympl898/wood__1_.gif");
}
.my-projects {
	text-align: left;
	border: 1px solid black;
}
a {
    color: red;
}

a:hover {
    color: blue;
}
